footer .footer-container {
    margin: 5rem 8rem;
}

footer .logo {
    width: 120px;
    display: block;
    opacity: 1;
}

footer img {
    width: 20px;
    margin: 0 .5rem;
    opacity: .5;
}

footer a {
    color: var(--mainGray);
    line-height: 2;
}

footer a:hover {
    color: var(--mainGray)
}

@media (max-width:992px) {
    footer .footer-container {
        margin: 4rem 6rem;
    }
}

@media (max-width: 768px) {
    footer .footer-container {
        margin: 2rem 2rem;
    }
}

@media (max-width:576px) {
    footer .footer-container {
        margin: 1rem;
    }
    footer .icons {
        margin-bottom: 2rem;
    }
    footer a {
        text-align: center;
    }
    footer .col-12 {
        margin-bottom: 1.5rem;
    }
}