:root {
  --mainGray: #707070;
  --darkViolate: #34285c;
  --lightViolate: #46285c;
  --titleColor: #0d052e;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.colors {
  background: linear-gradient(#ffd969, #ffab86);
  background: linear-gradient(#2af598, #009efd);
  background: linear-gradient(#8623d6, #467de1);
  background: linear-gradient(#684efb, #5a00dd);
  background: linear-gradient(#4e5cff, #ae4eff);
}

.title {
  font-family: "Yeseva One", cursive !important;
  color: var(--titleColor);
}